@font-face {
  font-family: "Rocher";
  src: url(https://assets.codepen.io/9632/RocherColorGX.woff2);
}
body {
  background-color: lightcyan !important;
  font-family: "Rocher", sans-serif  !important;
  text-align: center !important;
}
/*navbar*/
.container-fluid > a {
  font-family: "Rocher" !important;
  font-size: 2rem !important;
}
.navbar-light .navbar-brand{
  color: solid !important;
  color:rgba(0, 0, 0, 1) !important;
}
.navbar-brand {
  color: white !important;
  text-shadow: 0 0.2rem 0.5rem #ffffff !important;
}
spam {
  color: #ffd311 !important;
}
.navbar-collapse{
  flex-grow: 0 !important;
}
.style2 {
  width: auto;
  height: 9vh;
  text-shadow: 0 0.2rem 0.5rem #ffffff;
}

.style2 > a {
  color: aliceblue;
  font-family: "Rocher";
  font-size: 2rem;
  text-decoration: none;
}


/**/
.title {
  font-size: 3.5em !important;
  margin: auto;
}
.container {
  display: flex !important;
  flex-direction: row !important;
  justify-content: center !important;
  align-items: center !important;
  margin: 0 auto !important;
}

.grid {
  height: 560px !important;
  width: 560px;
  display: flex;
  flex-wrap: wrap;
  background-color: #fbfbfb;
  border: 10px solid #af8de9;
  border-radius: 15px;
  padding: 2%;
  margin-top: 5%;
}

.grid div {
  height: 70px;
  width: 70px;
}

p.instructions {
  font-size: 1.5rem;
  padding-bottom: 20px;
  width: 50%;
  text-align: center;
  margin: 0 auto;
}
.score-display {
  padding-left: 2%;
}

#score {
  margin: 0;
  font-size: 3rem;
}

h1#moves {
  margin: 0;
  text-align: center;
  font-size: 3rem;
}

h3.moves-heading,
.score-heading {
  margin: 20px;
  text-align: center;
  font-size: 3rem;
}
