@font-face {
  font-family: "Rocher";
  src: url(https://assets.codepen.io/9632/RocherColorGX.woff2);
}
body {
  background: linear-gradient(rgba(197, 197, 197, 0.425),rgba(255, 222, 222, 0.7)),url("../src/candy-wall-background-1.png")repeat ;
    background-size: cover;
  font-family: "Rocher", sans-serif;
  text-align: center ;
}
/*navbar*/
.container-fluid > a {
  font-family: "Rocher" ;
  font-size: 2rem ;
}
.navbar{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between
}

.navbar-brand {
  color: white ;
  text-shadow: 0 0.2rem 0.5rem #ffffff ;
}
spam {
  color: #ffd311 !important;
}
.navbar-brand{
 display: flex;
}

.style2 {
  width: auto;
  height: 9vh;
  text-shadow: 0 0.2rem 0.5rem #ffffff ;
  color: aliceblue ;
  font-family: "Rocher" ;
  font-size: 2rem ;
  text-decoration: none;
}



/**/
.title {
  font-size: 3.5em;
  margin: auto ;
}
.container {
  display: flex ;
  flex-direction: row ;
  justify-content: center ;
  align-items: center ;
  margin: 0 auto ;
}

.grid {
  height: 560px ;
  width: 560px;
  display: flex ;
  flex-wrap: wrap ;
  background-color: #fbfbfb;
  border: 5px solid #af8de9 ;
  border-radius: 15px ;
  padding: 2% ;
  margin-top: 5% ;
}

.grid div {
  height: 70px ;
  width: 70px ;
}

p.instructions {
  font-size: 1.5rem ;
  padding-bottom: 20px ;
  width: 50% ;
  text-align: center ;
  margin: 0 auto ;
}
.score-display {
  padding-left: 2% ;
}

#score {
  margin: 0 ;
  font-size: 3rem ;
}

h1#moves {
  margin: 0 ;
  text-align: center ;
  font-size: 3rem ;
}

h3.moves-heading,
.score-heading {
  margin: 20px ;
  text-align: center;
  font-size: 3rem ;
}


/*


@media (min-width: 360px) and (max-width: 599px) {
  
  
}

@media (min-width: 600px) and (max-width: 900px) {
 
}

*/