.container {
    display: -ms-grid;
    display: grid;
        grid-template-areas: a;
  }
  
  .align {
    display: -ms-grid;
    display: grid;
      grid-template-columns: 1fr  1fr;
  }
  
  .container-actions {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    -ms-grid-column-align: center;
        justify-self: center;
    opacity: 1;
    position: relative;
    z-index: 1;
  }
  
  .container-bg {
    opacity: 0.5;
  }
  
  .container-bg,
  .container-actions {
    grid-area: a;
  }